@media (min-width: 576px) {
    .boards-app {
        transition:width 0.3s;
        width: 100%;
    }

    .boards-app.is-compact {
        width: calc(100% - 500px);
    }
}

@media (min-width: 768px) {
    .boards-list {
        height: auto;
        min-height: calc(100vh - 156px);
    }
}

.board {
    display: inline-block;
    width: calc(85vw - 15px);
    height: 100%;
    padding-right: 4px;
    padding-left: 4px;
    white-space: normal;
    vertical-align: top;
}

@media (min-width: 576px) {
    .board {
        width: 300px;
    }
}